<h1>記事一覧</h1>

<%= link_to "新規作成", "/todolists/new" %>

<% @lists.each do |list| %>

	<span><%= link_to list.title, todolist_path(list.id) %></span>

	<%= attachment_image_tag list, :image, format: 'jpeg', size: "100x100" %>

<% end %>